body {
  background-image: url(./assets/Wave2.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
	margin: 0 auto;
	font-family: 'Koulen', cursive;
}

.LoginPage{
  text-align: center;
}